<form class="form" method="post" id="form">
	<div class="container login panel">
		<div class="spacer"></div>
		<h2 class="text-center"><%= getText("Log in") %></h2>

		<div class="row">
			<div class="span10 offset1">
				<div class="row-fluid">
					<div class="span6 left-side">
						<div class="control-group">
							<label class="control-label" for="username"><%= getText("Username") %></label>
							<input type="text" id="username" name="username" value="<%= username %>">
						</div>
						<div class="control-group">
							<label class="control-label" for="password"><%= getText("Password") %></label>
							<input type="password" id="password" name="password" value="<%= password %>">

							<div class="controls">
								<a href="/ForgotPassword"><%= getText("Forgot password?") %></a>
							</div>
						</div>
						<div class="control-group">
							<button type="submit" class="btn btn-primary" id="login"><%= getText("Log in") %></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
